@model List<pi_lab04.Models.Contacts>
@{
    ViewBag.Title = "Phonebook";
}
<style>
    th {
        padding: 12px;
    }

    td {
        padding: 12px;
        text-align: center;
    }

    tr {
        width: 200px;
        cursor: pointer;
    }

    .selected {
        background-color: brown;
        color: #FFF;
    }
</style>

<h2>Phonebook</h2>
<br />
<br />
<table border="1" id="table">
    <caption style="width: 200px; text-align: center; font-size: 20px;">All contacts</caption>
    <tr>
        <th>Name</th>
        <th>Number</th>
    </tr>
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr class="@item.id"><td>@item.name</td><td>@item.number</td></tr>
            }
        }
    }
</table>
<br />
<h3>Functions of Phonebook</h3>
<br />
@Html.ActionLink("Add new contact", "Add")
<br />
@Html.ActionLink("Update contact", "Update")
<br />
@Html.ActionLink("Delete contact", "Delete")

<script>
    var table = document.getElementById('table')
    var selected = table.getElementsByClassName('selected');

    let updateHref;
    let deleteHref;

    let constClass = "";

    function highlight(e) {
        if (selected[0])
            selected[0].className = '';

        let id = e.target.parentNode.className;
        constClass = e.target.parentNode.className;
        e.target.parentNode.className = 'selected';

        elements = document.getElementsByTagName("a")

        elements[1].href = updateHref + '?id=' + id;
        elements[2].href = deleteHref + '?id=' + id;
    }

    window.onload = function () {
        elements = document.getElementsByTagName("a")
        updateHref = elements[1].href;
        deleteHref = elements[2].href;

        table.onclick = highlight;
    }
</script>